/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #333;
    margin: 0 auto;
    padding: 0 15px;
    background: #eee;
    max-width: 1024px;
}
.site-header, main {
    background: white;
    margin: 0 auto;
}
.site-header {
    text-align: center;
}
.site-header h1 {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.site-header__logo {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}
.site-header__text {
    font-size: 1.5em;
}
.site-header__text__we {
    font-weight: normal;
}

main {
    padding: 1px 20px;
}
.weshare-info {
    padding: 1px 20px;
    background-image: linear-gradient(white, #EEE 50%)
}
a{
    text-decoration: none;
    font-weight: bold;
    color:#00A8F2;
}
a:hover{
    text-decoration: underline;
}
iframe{
    height: 585px;
    width: 219px;
    display: block;
    margin: 0 auto;
}
.motto{
    font-style: italic;
}

/* EVENT DATA */

/*
.events__data__loading {
    
}
*/

.event:after {
    content: "";
    clear: both;
    display: table;
}
.event__title {
    margin: 1.5em 0 .5em;
}
.event__title:first-of-type {
    margin-top: 20px;
}
.event__date {
    font-size: 1.2em;
    font-weight: bold;
}
.event__date__time {
    color: #999;
}
.event__image {
    margin: 20px 20px 5px 0;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (min-width: 700px) {
    .event__image {
        float: left;
        margin-right: 20px;
    }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    body {
        content: "Save the trees, don't print!"
    }
}
