/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 0 auto;
    padding: 15px;
    background: #eee;
    max-width:800px;
}
header, main {
    background: #fff;
    margin: 0 auto;
}
header{
    text-align: center;
}
main {
    padding: 20px;
}
img {
    margin: 1em 0 0;
    width: 287px;
    height: auto;
}
a{
    text-decoration: none;
    font-weight: bold;
    color:#00A8F2;
}
a:hover{
    text-decoration: underline;
}
iframe{
    height: 585px;
    width: 219px;
    display: block;
    margin: 0 auto;
}
.motto{
    font-style: italic;
}







/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    body {
        content: "Save the trees, don't print!"
    }
}
