/* ==========================================================================
   Author's custom styles
   ========================================================================== */

%visuallyHidden {
    height: 0;
    text-indent: -9999;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

%clearfix:after {
    content: "";
    clear: both;
    display: table;
}

html {
	background: $background-color;
}

body {
    margin: 0 auto;
    //background: white;
    max-width: 600px;
    font-size: 1rem;
}

.site-header {
    padding: $base-space;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    &__logo {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    &__text {
        font-size: 1.3em;
        &__we {
            font-weight: normal;
        }
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $links-color;
    &:hover{
        text-decoration: underline;
    }
}

/* EVENT DATA */

.events {
    &__title {
        padding: 0 $base-space;
    }
    &__data {
        display: block;
    }
}

%loadingSkeletonBg {
    background: #EEE;
}

%loadingSkeleton {
    .events__data--loading & {
        @extend %loadingSkeletonBg;
    }
}

.event {
	background: white;
	border-radius: 5px;
	padding: $base-space;
	margin: 3px 0;
    &__title {
		margin: 0;
        @extend %loadingSkeleton;
    }
    &__description {
        .events__data--loading & p:before {
            content: " ";
            @extend %loadingSkeletonBg;
            padding: 0 6em;
        }
    }
    &__date {
		@extend %loadingSkeleton;
        font-size: 1.2em;
        font-weight: bold;
        &__time {
            color: #999;
        }
    }
    &__image {
        margin: $base-space auto 5px auto;
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
        @media (min-width: $breakpoint-large) {
            //float: left;
            //margin-right: $base-space;
        }
    }
    %fakeButton {
        clear: left;
        color: white;
        border-radius: 5px;
        text-align: center;
        display: block;
        padding: $base-space/2;
		margin: $base-space auto 0 auto;
		&:hover {
			text-decoration: none;
		}
    }
    &__sold-out {
        @extend %fakeButton;
        background-color: $buttons-soldout-color;
        font-size: 20px;
		max-width: 9em;
		border-bottom: 2px solid $buttons-soldout-border;
    }
    &__cta {
		@extend %fakeButton;
		background-color: $buttons-color;
		max-width: 13em;
		border-bottom: 2px solid $buttons-border;
		&:hover {
			background-color: $buttons-color-hover;
		}
        > span {
            display: block;
        }
        &__book-now {
            font-size: 20px;
        }
        &__available-seats {
            font-weight: normal;
        }
    }
}

blockquote {
    font-style: italic;
    font-size: 18px;
    color: #666;
}

.weshare-info {
	background: white;
	border-radius: 5px;
    padding: $base-space;
    &__title {
        @extend %visuallyHidden;
    }
    h2 {
        font-size: 1.2rem;
	}
	p:first-of-type {
		margin-top: 0;
	}
	:last-child {
		margin-bottom: 0;
	}
}

.site-footer {
    font-size: 0.9rem;
    padding: $base-space;
}


@media (min-width: $breakpoint-large) {
	.events__title,
	.event__title,
	.event__date,
    .weshare-info h1,
    .weshare-info h2,
    .site-footer {
        text-align: center;
    }
}