/* ==========================================================================
   Author's custom styles
   ========================================================================== */

%centeredWhite {
    background: white;
    margin: 1em auto;
    padding: $base-space;
}

%clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0 auto;
    background: #eee;
    max-width: 860px;
}

.site-header {
    @extend %centeredWhite;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    &__logo {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    &__text {
        font-size: 1.3em;
        &__we {
            font-weight: normal;
        }
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $links-color;
    &:hover{
        text-decoration: underline;
    }
}

/* EVENT DATA */

.events {
    &__title {
        padding: 0 $base-space;
    }
}

.event {
    @extend %centeredWhite;
    @extend %clearfix;
    &__title {
        margin-top: 0;
    }
    &__description:after {
        content: "";
        display: table;
        clear: both;
    }
    &__date {
        font-size: 1.2em;
        font-weight: bold;
        &__time {
            color: #999;
        }
    }
    &__image {
        margin: $base-space $base-space 5px 0;
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
        @media (min-width: 700px) {
            float: left;
            margin-right: $base-space;
        }
    }
    &__cta {
        clear: left;
        background-color: $cta-color;
        border-radius: $base-space;
        text-align: center;
        color: white;
        display: block;
        padding: $base-space/2;
        max-width: 13em;
        margin: $base-space auto 0 auto;
        > span {
            display: block;
        }
        &__book-now {
            font-size: 20px;
        }
        &__available-seats {
            font-weight: normal;
        }
    }
    &__sold-out {
        color: $orange;
    }
}

blockquote {
    font-style: italic;
    font-size: 18px;
    color: #666;
}

.weshare-info {
    padding: 0 $base-space;
}
