/* ==========================================================================
   Author's custom styles
   ========================================================================== */

%centeredWhite {
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: $base-space;
}

%clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0 auto;
    background: #eee;
    max-width: 860px;
}

.site-header {
    @extend %centeredWhite;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    &__logo {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    &__text {
        font-size: 1.3em;
        &__we {
            font-weight: normal;
        }
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $links-color;
    &:hover{
        text-decoration: underline;
    }
}

/* EVENT DATA */

.events {
    &__title {
        padding: 0 $base-space;
    }
    &__data {
        display: block;
    }
}

%loadingSkeletonBg {
    background: #EEE;
}

%loadingSkeleton {
    .events__data--loading & {
        @extend %loadingSkeletonBg;
    }
}

.event {
    @extend %centeredWhite;
    @extend %clearfix;
    margin-bottom: $base-space;
    &__title {
        margin-top: 0;
        @extend %loadingSkeleton;
    }
    &__description {
        @extend %clearfix;
        .events__data--loading & p:before {
            content: " ";
            @extend %loadingSkeletonBg;
            padding: 0 6em;
        }
    }    
    &__date {
        @extend %loadingSkeleton;
        font-size: 1.2em;
        font-weight: bold;
        &__time {
            color: #999;
        }
    }
    &__image {
        margin: $base-space $base-space 5px 0;
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
        @media (min-width: $breakpoint-large) {
            float: left;
            margin-right: $base-space;
        }
    }
    %fakeButton {
        clear: left;
        color: white;
        border-radius: $base-space;
        text-align: center;
        display: block;
        padding: $base-space/2;
        margin: $base-space auto 0 auto;
    }
    &__sold-out {
        @extend %fakeButton;
        background-color: $orange;
        font-size: 20px;
        max-width: 9em;
    }
    &__cta {
        @extend %fakeButton;
        background-color: $cta-color;
        max-width: 13em;
        > span {
            display: block;
        }
        &__book-now {
            font-size: 20px;
        }
        &__available-seats {
            font-weight: normal;
        }
    }
}

blockquote {
    font-style: italic;
    font-size: 18px;
    color: #666;
}

.weshare-info {
    padding: 0 $base-space;
}

@media (min-width: $breakpoint-large) {
    .events__title,
    .weshare-info h1 {
        text-align: center;
    }
}